# =============================
# Python Project .gitignore
# =============================

# Ignore virtual environment
venv/

# Ignore Python bytecode and cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore environment files
.env
*.env

# Ignore dataset and large files
*.gz

# Ignore macOS system files
.DS_Store

# Ignore IDE/editor config files
.vscode/
.idea/